.company-card {
  background: -webkit-linear-gradient(45deg, #ffffff,#80c5ff);
  padding: 4px 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 15vw;
  min-width: 200px;
  height: 350px;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
  color: #3e3e3e;
  cursor: pointer;
  position: relative;
  &__image {
    z-index: 1;
    width: 50%;
  }
  &__title {
    text-transform: uppercase;
    font-size: 18px;
  }
  &__descr, &__type {
    font-size: 16px;
  }
}
