<div class="form-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="submit()" class="register-form">
    <h2>РЕГИСТРАЦИЯ</h2>
    <input formControlName="login" class="register-form__input" type="text" placeholder="Введите логин">
    <p class="register-form__warning" *ngIf="login.touched && (login.errors?.minlength || login.errors?.maxlength)">Длина логина: 6-16 символов</p>
    <input formControlName="password" class="register-form__input" type="password" placeholder="Введите пароль">
    <p class="register-form__warning" *ngIf="password.touched && (password.errors?.minlength || password.errors?.maxlength)">Длина пароля: 8-32 символа</p>
    <button class="register-form__btn" type="submit">Регистрация</button>
    <div class="register-form__bottom">
      <span>Уже есть аккаунт?</span>
      <a routerLink="/auth">Войти</a>
    </div>
  </form>
</div>
